.face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    margin: 16px;
}

.toprightcorner {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    margin-right: 20px;
}

.bottomrightcorner {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.myGrid {
    /*width: 90%;*/
    /*height: 250px;*/
}

.toolbardemoScrollShrink .face {
    width: 48px;
    margin: 16px;
    border-radius: 48px;
    border: 1px solid #ddd;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
