<div flex layout="column" layout-fill layout-padding>

    <div layout="row" aria-label="Name More">

        <jm-input label="Middle Name"
                  field="middleName"
                  user="selectedUser"
                  type="text">
        </jm-input>
        <jm-input label="Maiden Name"
                  field="maidenName"
                  user="selectedUser"
                  type="text">
        </jm-input>

    </div>

    <div layout="row" aria-label="Name more 2">

        <jm-input label="Nickname"
                  field="nickname"
                  user="selectedUser"
                  type="text">
        </jm-input>
        <jm-input label="Suffix (e.g. 'Jr.')"
                  field="suffixName"
                  user="selectedUser"
                  type="text">
        </jm-input>
    </div>

    <div layout="row" aria-label="Hobbies">
        <jm-text-area label="Occupation and/or Hobbies"
                      field="hobbies"
                      user="selectedUser">
        </jm-text-area>
    </div>
</div>