<!--<section aria-label="Additional">-->
    <div layout="row" layout-sm="column" aria-label="Additional names">
        <jm-input label="Middle Name"
                  field="middleName"
                  user="selectedUser"
                  required="false"
                  type="text">
        </jm-input>
        <jm-input label="Maiden Name"
                  field="maidenName"
                  user="selectedUser"
                  required="false"
                  type="text">
        </jm-input>
        <jm-input label="Nickname"
                  field="nickName"
                  user="selectedUser"
                  required="false"
                  type="text">
        </jm-input>
    </div>

    <div layout="row" layout-sm="column" aria-label="Hobbies">
        <!-- TODO placeholder="'Jr.', 'Senior', or 'III'" -->
        <jm-input label="Suffix"
                  field="suffixName"
                  user="selectedUser"
                  required="false"
                  type="text">
        </jm-input>

        <jm-input label="Facebook"
                  field="facebook"
                  user="selectedUser"
                  required="false"
                  type="text">
        </jm-input>
    </div>

    <div layout="row" layout-sm="column" aria-label="Hobbies">
        <jm-textarea label="Hobbies, Interests, etc."
                     field="hobbies"
                     user="selectedUser"
                     required="false"
                     type="text">
        </jm-textarea>
    </div>

<!--</section>-->
