<div flex layout="column" layout-fill layout-padding>

    <div layout="row" layout-sm="column" aria-label="Email and Gender">
        <jm-input label="E-mail"
                  field="email"
                  user="selectedUser"
                  type="email">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="Phone"
                  field="phone"
                  user="selectedUser"
                  type="tel">
        </jm-input>
    </div>

    <div layout="row" layout-sm="column" aria-label="Address">
        <jm-input label="Address"
                  field="address"
                  user="selectedUser"
                  type="text">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="Address Line 2"
                  field="address2"
                  user="selectedUser"
                  required="false"
                  type="text">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="City"
                  field="city"
                  user="selectedUser"
                  type="text">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-select placeholder="State"
                   field="theState"
                   user="selectedUser"
                   repeat="states"
                   keyvalue="abbreviation"
                   keydisplay="name"
                   orderclause="name">
        </jm-select>
    </div>

    <div layout="row" layout-sm="column" aria-label="Address Continued">
        <jm-input label="ZipCode"
                  field="zipcode"
                  user="selectedUser"
                  type="text">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="Country"
                  field="country"
                  user="selectedUser"
                  type="text">
        </jm-input>
    </div>

    <div ng-if="addressDefined()" layout="row" layout-sm="column" layout-align="center center" aria-label="street view">
        <a ng-href="{{getGoogleMapsURL()}}" target="_blank"><img ng-src="{{getStreetViewURL()}}"></a>
    </div>

</div>