<div flex layout="column" layout-fill layout-padding>

    <div layout="row" layout-padding layout-align="end">
        <md-button class="md-raised" ng-click="addChild($event)" aria-label="Add">
            Add Child
        </md-button>
    </div>
    <div layout="row" layout-sm="column" aria-label="Name" ng-repeat="child in selectedUser.children">
        <jm-input label="First Name"
                  field="{{fields[0] + child}}"
                  user="selectedUser"
                  type="text"
                  focus="true">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="Middle Name"
                  field="{{fields[1] + child}}"
                  user="selectedUser"
                  type="text">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="Birthday"
                  field="{{fields[2] + child}}"
                  user="selectedUser"
                  type="text">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-select placeholder="Gender"
                   field="{{fields[3] + child}}"
                   required="true"
                   user="selectedUser"
                   repeat="genders"
                   keyvalue="key"
                   keydisplay="name">
        </jm-select>
        <md-button ng-if="child" ng-click="removeChild($event, child)" class="md-icon-button" aria-label="Remove">
            <md-tooltip>
                Remove child
            </md-tooltip>
            <md-icon md-svg-src="content:remove_circle"></md-icon>
        </md-button>
    </div>

    <div layout="row" aria-label="Pets">
        <jm-text-area label="Pets"
                      field="pets"
                      user="selectedUser">
        </jm-text-area>
    </div>
</div>