<!--<section  aria-label="Children">-->
    <div layout="row" layout-sm="column">
        <jm-input label="First Name"
                  field="firstNameChild"
                  user="user"
                  required="false"
                  type="text">
        </jm-input>
        <jm-input label="Middle Name"
                  field="middleNameChild"
                  user="user"
                  required="false"
                  type="text">
        </jm-input>
        <!--<jm-input label="Birthday"-->
                  <!--field="childBirthday"-->
                  <!--user="user"-->
                  <!--required="false"-->
                  <!--type="date">-->
        <!--</jm-input>-->
    </div>
<!--</section>-->

<!--&lt;!&ndash;<section  aria-label="Pets">&ndash;&gt;-->
    <!--<div layout="row" layout-sm="column">-->
        <!--<jm-input label="Pets"-->
                  <!--field="pets"-->
                  <!--user="user"-->
                  <!--required="false"-->
                  <!--type="text">-->
        <!--</jm-input>-->
    <!--</div>-->
<!--&lt;!&ndash;</section>&ndash;&gt;-->
