<div flex layout="column" layout-fill layout-padding>

    <div layout="row" layout-sm="column" aria-label="Birth">

        <jm-input label="Birthday"
                  field="birthday"
                  user="selectedUser"
                  type="text"
                  taborder="1">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="City"
                  field="cityBirth"
                  user="selectedUser"
                  type="text"
                  taborder="2">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-select placeholder="State"
                   field="stateBirth"
                   user="selectedUser"
                   repeat="states"
                   keyvalue="abbreviation"
                   keydisplay="name"
                   orderclause="name"
                   taborder="3">
        </jm-select>
    </div>

    <div layout="row" layout-sm="column" aria-label="Wedding">

        <jm-input label="Wedding"
                  field="wedding"
                  user="selectedUser"
                  type="text"
                  taborder="4">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="City"
                  field="cityWedding"
                  user="selectedUser"
                  type="text"
                  taborder="5">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-select placeholder="State"
                   field="stateWedding"
                   user="selectedUser"
                   repeat="states"
                   keyvalue="abbreviation"
                   keydisplay="name"
                   orderclause="name"
                   taborder="6">
        </jm-select>
    </div>

    <div layout="row" layout-sm="column" aria-label="Death">

        <jm-input label="Death"
                  field="death"
                  user="selectedUser"
                  type="text"
                  taborder="7">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="City"
                  field="cityDeath"
                  user="selectedUser"
                  type="text"
                  taborder="8">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-select placeholder="State"
                   field="stateDeath"
                   user="selectedUser"
                   repeat="states"
                   keyvalue="abbreviation"
                   keydisplay="name"
                   orderclause="name"
                   taborder="9">
        </jm-select>
    </div>

    <div layout="row" layout-sm="column" aria-label="Spouse Birth">

        <jm-input label="Birthday Spouse"
                  field="bithdaySpouse"
                  user="selectedUser"
                  type="text"
                  taborder="10">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="City"
                  field="cityBirthSpouse"
                  user="selectedUser"
                  type="text"
                  taborder="11">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-select placeholder="State"
                   field="stateBirthSpouse"
                   user="selectedUser"
                   repeat="states"
                   keyvalue="abbreviation"
                   keydisplay="name"
                   orderclause="name"
                   taborder="12">
        </jm-select>
    </div>

    <div layout="row" layout-sm="column" aria-label="Spouse Death">

        <jm-input label="Death Spouse"
                  field="deathSpouse"
                  user="selectedUser"
                  type="text"
                  taborder="13">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="City"
                  field="cityDeathSpouse"
                  user="selectedUser"
                  type="text"
                  taborder="14">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-select placeholder="State"
                   field="stateDeathSpouse"
                   user="selectedUser"
                   repeat="states"
                   keyvalue="abbreviation"
                   keydisplay="name"
                   orderclause="name"
                   taborder="15">
        </jm-select>
    </div>
</div>