<!--<section aria-label="Dates and Places">-->

    <div layout="row" layout-sm="column" aria-label="Birth">
        <!--<jm-input label="Birthday"-->
                  <!--field="birth"-->
                  <!--user="selectedUser"-->
                  <!--required="false"-->
                  <!--type="date">-->
        <!--</jm-input>-->
        <jm-input label="City of Birth"
                  field="birthCity"
                  user="selectedUser"
                  required="false"
                  type="text">
        </jm-input>
        <jm-input label="State of Birth"
                  field="birthState"
                  user="selectedUser"
                  required="false"
                  type="text">
        </jm-input>
    </div>

    <!--<div layout="row" layout-sm="column" aria-label="Wedding">-->
        <!--<jm-input label="Wedding"-->
                  <!--field="wedding"-->
                  <!--user="selectedUser"-->
                  <!--required="false"-->
                  <!--type="date">-->
        <!--</jm-input>-->
        <!--<jm-input label="City of Wedding"-->
                  <!--field="weddingCity"-->
                  <!--user="selectedUser"-->
                  <!--required="false"-->
                  <!--type="text">-->
        <!--</jm-input>-->
        <!--<jm-input label="State of Wedding"-->
                  <!--field="weddingState"-->
                  <!--user="selectedUser"-->
                  <!--required="false"-->
                  <!--type="text">-->
        <!--</jm-input>-->
    <!--</div>-->

    <!--<div layout="row" layout-sm="column" aria-label="Death">-->
        <!--<jm-input label="Death"-->
                  <!--field="death"-->
                  <!--user="selectedUser"-->
                  <!--required="false"-->
                  <!--type="date">-->
        <!--</jm-input>-->
        <!--<jm-input label="City of Death"-->
                  <!--field="deathCity"-->
                  <!--user="selectedUser"-->
                  <!--required="false"-->
                  <!--type="text">-->
        <!--</jm-input>-->
        <!--<jm-input label="State of Death"-->
                  <!--field="deathState"-->
                  <!--user="selectedUser"-->
                  <!--required="false"-->
                  <!--type="text">-->
        <!--</jm-input>-->
    <!--</div>-->

    <!--<div layout="row" layout-sm="column" aria-label="Spouse Birth">-->
        <!--<jm-input label="Spouse Birthday"-->
                  <!--field="birthdaySpouse"-->
                  <!--user="selectedUser"-->
                  <!--required="false"-->
                  <!--type="date">-->
        <!--</jm-input>-->
        <!--<jm-input label="City of Spouse Birth"-->
                  <!--field="birthCitySpouse"-->
                  <!--user="selectedUser"-->
                  <!--required="false"-->
                  <!--type="text">-->
        <!--</jm-input>-->
        <!--<jm-input label="State of Spouse Birth"-->
                  <!--field="birthStateSpouse"-->
                  <!--user="selectedUser"-->
                  <!--required="false"-->
                  <!--type="text">-->
        <!--</jm-input>-->
    <!--</div>-->

    <!--<div layout="row" layout-sm="column" aria-label="Spouse Death">-->
        <!--<jm-input label="Spouse Death"-->
                  <!--field="deathSpouse"-->
                  <!--user="selectedUser"-->
                  <!--required="false"-->
                  <!--type="date">-->
        <!--</jm-input>-->
        <!--<jm-input label="City of Spouse Death"-->
                  <!--field="deathCitySpouse"-->
                  <!--user="selectedUser"-->
                  <!--required="false"-->
                  <!--type="text">-->
        <!--</jm-input>-->
        <!--<jm-input label="State of Spouse Death"-->
                  <!--field="deathStateSpouse"-->
                  <!--user="selectedUser"-->
                  <!--required="false"-->
                  <!--type="text">-->
        <!--</jm-input>-->
    <!--</div>-->

<!--</section>-->
