<div layout="row" layout-padding>

    <div layout="column" layout-padding>
        <jm-select placeholder="Father"
                   field="father"
                   user="selectedUser"
                   repeat="fathers"
                   keyvalue="id"
                   keydisplay="firstName"
                   keydisplay2="lastName"
                   ng-click="update()"
                   orderclause="lastName">
        </jm-select>
        <jm-input label="First Name"
                  field="firstName"
                  user="selectedUser"
                  required="true"
                  type="text"
                  focus="true">
        </jm-input>
        <jm-input label="Middle Name"
                  field="middleName"
                  user="selectedUser"
                  type="text">
        </jm-input>
        <jm-input label="Title ('Dr.')"
                  field="titleName"
                  user="selectedUser"
                  type="text">
        </jm-input>
        <jm-text-area label="Occupation and/or Hobbies"
                      field="hobbies"
                      user="selectedUser">
        </jm-text-area>
    </div>

    <div layout="column" layout-padding>
        <jm-select placeholder="Mother"
                   field="mother"
                   user="selectedUser"
                   repeat="mothers"
                   keyvalue="id"
                   keydisplay="firstName"
                   keydisplay2="lastName"
                   ng-click="update()"
                   orderclause="lastName">
        </jm-select>
        <jm-input label="Last Name"
                  field="lastName"
                  user="selectedUser"
                  required="true"
                  type="text">
        </jm-input>
        <jm-input label="Maiden Name"
                  field="maidenName"
                  user="selectedUser"
                  type="text">
        </jm-input>
        <jm-input label="Suffix ('Jr.')"
                  field="suffixName"
                  user="selectedUser"
                  type="text">
        </jm-input>
    </div>

    <div layout="column" layout-padding>
        <jm-input label="placeholder" type="text" style="visibility: hidden"></jm-input>
        <jm-select placeholder="Gender"
                   field="gender"
                   required="true"
                   user="selectedUser"
                   repeat="genders"
                   keyvalue="key"
                   keydisplay="name">
        </jm-select>
        <jm-input label="Nickname"
                  field="nickName"
                  user="selectedUser"
                  type="text">
        </jm-input>
        <jm-select placeholder="How should the name appear?"
                   field="displayName"
                   user="selectedUser"
                   repeat="names"
                   keyvalue="display"
                   keydisplay="display"
                   ng-click="update()">
        </jm-select>
    </div>

</div>