<div layout="column" layout-margin layout-fill layout-padding>

    <div layout="row" layout-sm="column" layout-padding aria-label="Parents">
        <jm-select placeholder="Father"
                   field="father"
                   user="selectedUser"
                   repeat="fathers"
                   keyvalue="id"
                   keydisplay="firstName"
                   keydisplay2="lastName"
                   ng-click="update()"
                   orderclause="lastName">
        </jm-select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <jm-select placeholder="Mother"
                   field="mother"
                   user="selectedUser"
                   repeat="mothers"
                   keyvalue="id"
                   keydisplay="firstName"
                   keydisplay2="lastName"
                   ng-click="update()"
                   orderclause="lastName">
        </jm-select>
    </div>

    <div layout="row" layout-sm="column" aria-label="Name">
        <jm-input label="First Name"
                  field="firstName"
                  user="selectedUser"
                  required="true"
                  type="text"
                  focus="true">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="Middle Name"
                  field="middleName"
                  user="selectedUser"
                  type="text">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="Last Name"
                  field="lastName"
                  user="selectedUser"
                  required="true"
                  type="text">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-select placeholder="Gender"
                   field="gender"
                   required="true"
                   user="selectedUser"
                   repeat="genders"
                   keyvalue="key"
                   keydisplay="name">
        </jm-select>
    </div>

    <div layout="row" aria-label="Name more 2">

        <jm-input label="Maiden Name"
                  field="maidenName"
                  user="selectedUser"
                  type="text">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="Nickname"
                  field="nickname"
                  user="selectedUser"
                  type="text">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="Suffix (e.g. 'Jr.')"
                  field="suffixName"
                  user="selectedUser"
                  type="text">
        </jm-input>
    </div>

    <div layout="row" aria-label="Hobbies">
        <jm-text-area label="Occupation and/or Hobbies"
                      field="hobbies"
                      user="selectedUser">
        </jm-text-area>
    </div>
</div>