<div layout="row" layout-sm="column" aria-label="Names">
    <jm-input label="Spouse First Name"
              field="firstNameSpouse"
              user="selectedUser"
              required="false"
              type="text">
    </jm-input>
    <jm-input label="Spouse Middle Name"
              field="middleNameSpouse"
              user="selectedUser"
              required="false"
              type="text">
    </jm-input>
    <jm-input label="Spouse Last Name"
              field="lastNameSpouse"
              user="selectedUser"
              required="false"
              type="text">
    </jm-input>
</div>

<div layout="row" layout-sm="column" aria-label="Email, Address Gender">
    <jm-input label="Spouse E-mail"
              field="emailSpouse"
              user="selectedUser"
              required="false"
              type="email">
    </jm-input>
    <jm-input label="Spouse Address"
              field="addressSpouse"
              user="selectedUser"
              required="false"
              type="text">
    </jm-input>
    <jm-switch label="Spouse Gender"
               field="genderSpouse"
               user="selectedUser"
               required="true">
    </jm-switch>
</div>

<!--<div layout="row" layout-sm="column" aria-label="Additional names">-->
<!--<jm-input label="Spouse Maiden Name"-->
<!--field="maidenNameSpouse"-->
<!--user="selectedUser"-->
<!--required="false"-->
<!--type="text">-->
<!--</jm-input>-->
<!--<jm-input label="Spouse Nickname"-->
<!--field="nickNameSpouse"-->
<!--user="selectedUser"-->
<!--required="false"-->
<!--type="text">-->
<!--</jm-input>-->
<!--&lt;!&ndash; TODO placeholder="'Jr.', 'Senior', or 'III'" &ndash;&gt;-->
<!--<jm-input label="Spouse Suffix"-->
<!--field="suffixName"-->
<!--user="selectedUser"-->
<!--required="false"-->
<!--type="text">-->
<!--</jm-input>-->
<!--</div>-->

<!--<div layout="row" layout-sm="column" aria-label="Hobbies">-->
<!--<jm-textarea class=""-->
<!--label="Spouse Hobbies, Interests, etc."-->
<!--field="hobbiesSpouse"-->
<!--user="selectedUser"-->
<!--required="false"-->
<!--type="text">-->
<!--</jm-textarea>-->
<!--</div>-->