.DS_Store
.idea
node_modules
.next
out
coverage
.vercel
certificates
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.tsbuildinfo
.tmp
atlassian-ide-plugin.xml
npm-debug.log