<section aria-label="Address">

    <div layout="row" layout-sm="column" aria-label="Address">
        <jm-input label="Address"
                  field="addressL1"
                  user="user"
                  required="true"
                  type="text">
        </jm-input>
        <jm-input label="Address Line 2"
                  field="addressL2"
                  user="user"
                  required="false"
                  type="text">
        </jm-input>
        <jm-input label="City"
                  field="city"
                  user="user"
                  required="true"
                  type="text">
        </jm-input>
    </div>

    <div layout="row" layout-sm="column" aria-label="Zip, etc">
        <jm-input label="State"
                  field="state"
                  user="user"
                  required="true"
                  type="text">
        </jm-input>
        <jm-input label="Zipcode"
                  field="zipcode"
                  user="user"
                  required="true"
                  type="text">
        </jm-input>
        <jm-input label="Country"
                  field="country"
                  user="user"
                  required="false"
                  type="text">
        </jm-input>
    </div>

</section>
