<section aria-label="Member">
    <div layout="row" layout-sm="column" aria-label="Parents">
        <jm-select label="Mother"
                  field="mother"
                  user="user"
                  required="true">
        </jm-select>
        <jm-select label="Father"
                  field="father"
                  user="user"
                  required="true">
        </jm-select>
    </div>

    <div layout="row" layout-sm="column" aria-label="Names">
        <jm-input label="First Name"
                  field="firstName"
                  user="user"
                  required="true"
                  type="text">
        </jm-input>
        <jm-input label="Last Name"
                  field="lastName"
                  user="user"
                  required="true"
                  type="text">
        </jm-input>
        <jm-switch label="Gender"
                   field="gender"
                   user="user"
                   required="false">
        </jm-switch>
    </div>

    <div layout="row" layout-sm="column" aria-label="Email and Gender">
        <jm-input label="E-mail"
                  field="email"
                  user="user"
                  required="true"
                  type="email">
        </jm-input>
        <jm-input label="Phone"
                  field="phone"
                  user="user"
                  required="true"
                  type="tel">
        </jm-input>
    </div>
</section>

<section aria-label="Address">
    <div layout="row" layout-sm="column" aria-label="Address">
        <jm-input label="Address"
                  field="addressL1"
                  user="user"
                  required="true"
                  type="text">
        </jm-input>
        <jm-input label="Address Line 2"
                  field="addressL2"
                  user="user"
                  required="false"
                  type="text">
        </jm-input>
        <jm-input label="City"
                  field="city"
                  user="user"
                  required="true"
                  type="text">
        </jm-input>
    </div>

    <div layout="row" layout-sm="column" aria-label="Zip, etc">
        <jm-input label="State"
                  field="state"
                  user="user"
                  required="true"
                  type="text">
        </jm-input>
        <jm-input label="Zipcode"
                  field="zipcode"
                  user="user"
                  required="true"
                  type="text">
        </jm-input>
        <jm-input label="Country"
                  field="country"
                  user="user"
                  required="false"
                  type="text">
        </jm-input>
    </div>
</section>
