<md-virtual-repeat-container style="height: 92vh">

    <md-list>
        <md-list-item class="md-whiteframe-z1 md-3-line" id="$ctrl.user-{{$ctrl.user.id}}"
                      ng-click="::$ctrl.selectUser(user, $event)"
                      md-virtual-repeat="user in ::$ctrl.users | filter:$ctrl.filter | orderBy:$ctrl.orderBy">
            <!--<md-icon style="font-size: 48px" alt="{{user.displayName ? user.displayName : user.firstName + ' ' + user.lastName}}">-->
                <!--account_circle-->
            <!--</md-icon>-->
            <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
            <md-button class="md-fab" aria-label="User Initials">
                <h2 style="margin-top: 1px;">
                    {{user.firstName[0] + user.lastName[0] | uppercase}}
                </h2>
            </md-button>
            <div class="md-list-item-text" layout="column">
                <h3>{{user.displayName ? user.displayName : user.firstName + ' ' + user.lastName}}</h3>
                <h4>{{user.address}}{{user.city ? ', ' + user.city : ''}}{{user.theState ? ' ' + user.theState : ''}}</h4>
                <p>
                    <a href="tel:{{user.phone}}">{{user.phone}}</a> {{user.email ? '/' : ''}}
                    <a href="mailto:{{user.email}}?Subject=McPeak%20Family%20">{{user.email}}</a>
                </p>
            </div>
        </md-list-item>
    </md-list>

    <md-list layout-fill ng-if="false">
        <md-card layout="row" layout-align="start center" layout-padding md-ink-ripple id="$ctrl.user-{{$ctrl.user.id}}"
                 md-virtual-repeat="user in ::$ctrl.users | filter:$ctrl.search | orderBy:['lastName', 'firstName']"
                 ng-click="::$ctrl.selectUser(user, $event)" class="md-whiteframe-z1 jm-list">
            <div class="md-tile-left" style="padding-left: 10px; min-width: 80px" hide show-gt-md>
                <md-button class="md-fab" aria-label="User Initials">
                    <h2 style="margin-top: 1px;">
                        {{user.firstName[0] + user.lastName[0] | uppercase}}
                    </h2>
                </md-button>
            </div>
            <div class="md-tile-content" style="white-space: nowrap; overflow: hidden">
                <div style="font-size: x-small; font-style: italic" ng-if="::$ctrl.lastUpdatedID === user.id">
                    Last Updated
                </div>
                <div>
                    {{user.displayName ? user.displayName : user.firstName + ' ' + user.lastName}}
                </div>
                <div>
                    {{user.address}}{{user.city ? ', ' + user.city : ''}}{{user.theState ? ' ' + user.theState : ''}}
                </div>
                <div style="color: #0000cc">
                    <a href="">{{user.email}}</a>
                </div>
                <div hide-gt-md>
                    <a href="mailto:{{user.email}}?Subject=McPeak%20Family%20">{{user.phone}}</a>
                </div>
            </div>
        </md-card>
    </md-list>
</md-virtual-repeat-container>
