<div flex layout="column" layout-fill layout-padding>

    <div layout="row" layout-sm="column" aria-label="Name">

        <jm-input label="First Name"
                  field="firstNameSpouse"
                  user="selectedUser"
                  type="text"
                  focus="true"
                  taborder="1">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="Last Name"
                  field="lastNameSpouse"
                  user="selectedUser"
                  type="text"
                  taborder="2">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-select placeholder="Gender"
                   field="genderSpouse"
                   required="true"
                   user="selectedUser"
                   repeat="genders"
                   keyvalue="key"
                   keydisplay="name"
                   taborder="3">
        </jm-select>

    </div>

    <div layout="row" aria-label="Name More">

        <jm-input label="Middle Name"
                  field="middleNameSpouse"
                  user="selectedUser"
                  type="text"
                  taborder="4">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="Maiden Name"
                  field="maidenNameSpouse"
                  user="selectedUser"
                  type="text"
                  taborder="5">
        </jm-input>
    </div>

    <div layout="row" aria-label="Name more 2">

        <jm-input label="Nickname"
                  field="nickNameSpouse"
                  user="selectedUser"
                  type="text"
                  taborder="6">
        </jm-input>
        <jm-input label="Title ('Dr.')"
                  field="titleNameSpouse"
                  user="selectedUser"
                  type="text"
                  taborder="7">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="Suffix ('Jr.')"
                  field="suffixNameSpouse"
                  user="selectedUser"
                  type="text"
                  taborder="8">
        </jm-input>
    </div>

    <div layout="row" aria-label="Hobbies">
        <jm-text-area label="Occupation and/or Hobbies"
                      field="hobbiesSpouse"
                      user="selectedUser"
                      taborder="9">
        </jm-text-area>
    </div>
</div>