<div flex layout="column" layout-fill layout-padding>

    <div layout="row" layout-sm="column" aria-label="Email and Gender">
        <jm-input label="E-mail"
                  field="email"
                  user="jmPartialCtrl.user"
                  type="email"
                  taborder="1">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="Phone"
                  field="phone"
                  user="jmPartialCtrl.user"
                  type="tel"
                  taborder="2">
        </jm-input>
    </div>

    <div layout="row" layout-sm="column" aria-label="Address">
        <jm-input label="Address"
                  field="address"
                  user="jmPartialCtrl.user"
                  type="text"
                  taborder="3">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="Address Line 2"
                  field="address2"
                  user="jmPartialCtrl.user"
                  required="false"
                  type="text"
                  taborder="4">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="City"
                  field="city"
                  user="jmPartialCtrl.user"
                  type="text"
                  taborder="5">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-select placeholder="State"
                   field="theState"
                   user="jmPartialCtrl.user"
                   repeat="jmPartialCtrl.states"
                   keyvalue="abbreviation"
                   keydisplay="name"
                   orderclause="name"
                   taborder="6">
        </jm-select>
    </div>

    <div layout="row" layout-sm="column" aria-label="Address Continued">
        <jm-input label="ZipCode"
                  field="zipcode"
                  user="jmPartialCtrl.user"
                  type="text"
                  taborder="7">
        </jm-input>
        &nbsp;&nbsp;&nbsp;
        <jm-input label="Country"
                  field="country"
                  user="jmPartialCtrl.user"
                  type="text"
                  taborder="8">
        </jm-input>
    </div>

    <div ng-if="jmPartialCtrl.addressDefined()" layout="row" layout-sm="column" layout-align="center center" aria-label="street view">
        <a ng-href="{{jmPartialCtrl.getGoogleMapsURL()}}" target="_blank"><img ng-src="{{jmPartialCtrl.getStreetViewURL()}}"></a>
    </div>

</div>
