<div flex layout="column" layout-fill layout-padding>

    <div layout="row" layout-align="center center" layout-padding flex>
        <span style="font-size: small; font-style: italic">
            This is for children still living at home. If they have an address, they should have their own entry.<br>&nbsp;
        </span>
    </div>
    <div layout="row" layout-sm="column" aria-label="Name" ng-repeat="child in jmChildrenCtrl.user.children track by $index ">
        <div layout="column" flex>
            <div layout="rows">
                <jm-input label="First Name"
                          field="{{jmChildrenCtrl.fields[0] + child}}"
                          user="jmChildrenCtrl.user"
                          type="text"
                          focus="true">
                </jm-input>
                &nbsp;&nbsp;&nbsp;
                <jm-input label="Middle Name"
                          field="{{jmChildrenCtrl.fields[1] + child}}"
                          user="jmChildrenCtrl.user"
                          type="text">
                </jm-input>
                &nbsp;&nbsp;&nbsp;
                <jm-input label="Last Name"
                          field="{{jmChildrenCtrl.fields[2] + child}}"
                          user="jmChildrenCtrl.user"
                          type="text">
                </jm-input>
                <jm-input label="Birthday"
                          field="{{jmChildrenCtrl.fields[3] + child}}"
                          user="jmChildrenCtrl.user"
                          type="text">
                </jm-input>
                &nbsp;&nbsp;&nbsp;
                <jm-select placeholder="Gender"
                           field="{{jmChildrenCtrl.fields[4] + child}}"
                           required="true"
                           user="jmChildrenCtrl.user"
                           repeat="genders"
                           keyvalue="key"
                           keydisplay="name">
                </jm-select>
                <jm-duration user="jmChildrenCtrl.user" from="{{jmChildrenCtrl.fields[3] + child}}" suffix="old"></jm-duration>
            </div>
        </div>
        <div layout="column">
            <md-button ng-show="child" ng-click="jmChildrenCtrl.removeChild(child)" class="md-icon-button"
                       aria-label="Remove">
                <md-icon md-svg-src="content:remove_circle"></md-icon>
            </md-button>
            <md-button ng-show="$index === jmChildrenCtrl.user.children.length - 1" ng-click="jmChildrenCtrl.addChild($event)"
                       class="md-icon-button" aria-label="Add">
                <md-icon md-svg-src="content:add_circle"></md-icon>
            </md-button>
        </div>
    </div>
    <div layout="row" aria-label="Pets">
        <jm-text-area label="Pets"
                      field="pets"
                      user="jmChildrenCtrl.user">
        </jm-text-area>
    </div>
</div>
