<div layout="row" layout-padding>

    <div layout="column" layout-padding>
        <jm-select placeholder="Father"
                   field="father"
                   user="jmRequiredCtrl.user"
                   repeat="jmRequiredCtrl.fathers"
                   keyvalue="id"
                   keydisplay="firstName"
                   keydisplay2="lastName"
                   ng-click="jmRequiredCtrl.update()"
                   orderclause="lastName"
                   taborder="11">
        </jm-select>
        <jm-input label="First Name"
                  field="firstName"
                  user="jmRequiredCtrl.user"
                  required="true"
                  type="text"
                  focus="true"
                  taborder="1">
        </jm-input>
        <jm-input label="Middle Name"
                  field="middleName"
                  user="jmRequiredCtrl.user"
                  type="text"
                  taborder="4">
        </jm-input>
        <jm-input label="Title ('Dr.')"
                  field="titleName"
                  user="jmRequiredCtrl.user"
                  type="text"
                  taborder="7">
        </jm-input>
        <jm-text-area label="Occupation and/or Hobbies"
                      field="hobbies"
                      user="jmRequiredCtrl.user"
                      taborder="10">
        </jm-text-area>
    </div>

    <div layout="column" layout-padding>
        <jm-select placeholder="Mother"
                   field="mother"
                   user="jmRequiredCtrl.user"
                   repeat="jmRequiredCtrl.mothers"
                   keyvalue="id"
                   keydisplay="firstName"
                   keydisplay2="lastName"
                   ng-click="jmRequiredCtrl.update()"
                   orderclause="lastName"
                   taborder="12">
        </jm-select>
        <jm-input label="Last Name"
                  field="lastName"
                  user="jmRequiredCtrl.user"
                  required="true"
                  type="text"
                  taborder="2">
        </jm-input>
        <jm-input label="Maiden Name"
                  field="maidenName"
                  user="jmRequiredCtrl.user"
                  type="text"
                  taborder="5">
        </jm-input>
        <jm-input label="Suffix ('Jr.')"
                  field="suffixName"
                  user="jmRequiredCtrl.user"
                  type="text"
                  taborder="8">
        </jm-input>
    </div>

    <div layout="column" layout-padding>
        <jm-input label="placeholder" type="text" style="visibility: hidden"></jm-input>
        <jm-select placeholder="Gender"
                   field="gender"
                   required="true"
                   user="jmRequiredCtrl.user"
                   repeat="genders"
                   keyvalue="key"
                   keydisplay="name"
                   taborder="3">
        </jm-select>
        <jm-input label="Nickname"
                  field="nickName"
                  user="jmRequiredCtrl.user"
                  type="text"
                  taborder="6">
        </jm-input>
        <jm-select placeholder="How should the name appear?"
                   field="displayName"
                   user="jmRequiredCtrl.user"
                   repeat="jmRequiredCtrl.names()"
                   keyvalue="display"
                   keydisplay="display"
                   ng-click="jmRequiredCtrl.update()"
                   taborder="9">
        </jm-select>
    </div>

</div>
