a {
    text-decoration: none;
}

md-card[md-ink-ripple] {
    position: relative;
}

md-card {
    cursor: pointer;
}

md-card:focus {
    outline: none;
}

/*md-tabs {*/
    /*width: 100%;*/
    /*font-size: large;*/
/*}*/

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 33% !important;
    max-width: 400px !important;
}

md-tabs {
    background-color: #eeffee;
}

md-tabs-canvas {
    background: #ffffff;
}

md-toast.error {
    background-color: #ff0000;
    color: #ffffff;
}

.jmCenterInitialsInButton {
    margin-top: 1px;
}

.jmLoginError [ng-message] {
    font-size: medium;
}

.jmFormInputArea {
    background-color: #eeffee;
}