<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <h1>
            <span>{{name}} Family Database</span>
        </h1>
        <span flex></span>
    </div>
</md-toolbar>
<md-subheader hide-gt-sm class="md-accent">
    Last Updated: <b>{{lastUpdate | date : 'fullDate' }}</b>, with <b>{{count}}</b> family members in database
</md-subheader>
<md-content class="md-padding">
    <md-list>
        <md-item ng-repeat="user in users" class="md-whiteframe-z1">
            <md-item-content ng-click="showUser($event, user)">
                <div class="md-tile-left">
                    <img src="/assets/cat.jpeg" class="face" alt="{{item.who}}">
                    <!--<md-button class="md-fab md-warn" aria-label="Edit">-->
                        <!--<md-icon md-svg-src="/assets/ic_add_24px.svg" class="s36"></md-icon>-->
                    <!--</md-button>-->
                </div>
                <div class="md-tile-content">
                    <h3>{{user.who}}</h3>
                    <h4>{{user.where}}</h4>
                    <h4>{{user.email}}</h4>
                </div>
            </md-item-content>
            <md-divider inset></md-divider>
        </md-item>
    </md-list>
</md-content>
<md-subheader hide-sm class="md-accent">
    Last Updated: <b>{{lastUpdate | date : 'fullDate' }}</b>, with <b>{{count}}</b> family members in database
</md-subheader>
