<md-list>
    <md-card ng-repeat="user in users" md-swipe-left="showDelete = !showDelete" ng-click="update(user)"
            ng-style="user.id === selectedUser.id && {'box-shadow': 'none', 'background-color': '#fafad2'}">
        <md-item-content>
            <div class="md-tile-left" style="padding-left: 10px">
                <md-button class="md-fab md-accent" aria-label="User Initials">
                    <h2 class="centerInitialsInButton">{{user.firstName[0] + user.lastName[0] | uppercase }}</h2>
                </md-button>
            </div>
            <div class="md-tile-content" style="padding-left: 30px">
                <h3>{{user.firstName + ' ' + user.lastName}}</h3>

                <h3>{{user.address}}</h3>

                <h3>{{user.email}}</h3>
            </div>
            <div class="md-tile-right">
                <md-button class="md-raised md-warn jm-remove-button" aria-label="Remove" ng-show="showDelete"
                           ng-click="showDelete = !showDelete">Remove
                </md-button>
            </div>
        </md-item-content>
    </md-card>
</md-list>