<md-toolbar>
    <div class="md-toolbar-tools" layout="row">
        <div layout-align="start" hide-sm>
            <em style="font-size: medium">
                Last Update: {{lastUpdate | date : 'fullDate' }} with {{count}} family members
            </em>
        </div>
        <span flex></span>
        <div layout="row" layout-align="end center">
            <md-button class="md-icon-button" aria-label="Add" ng-click="add($event)">
                <md-icon md-svg-src="social:person_add" style="width: 32px; height: 32px"></md-icon>
            </md-button>
            <md-menu md-position-mode="target-right target">
                <md-button ng-click="$mdOpenMenu()" class="md-icon-button" aria-label="Menu">
                    <md-icon md-menu-origin md-svg-src="navigation:menu" style="width: 32px; height: 32px;"></md-icon>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item ng-click="email()">
                        <md-button>
                            <md-icon md-menu-align-target md-svg-src="communication:email"></md-icon>
                            E-mail
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-click="export()">
                        <md-button>
                            <md-icon md-menu-align-target md-svg-src="content:archive"></md-icon>
                            Export
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item ng-click="deleteItem()" ng-disabled="isRemoveDisabled()">
                        <md-button>
                            <md-icon md-menu-align-target md-svg-src="action:delete"></md-icon>
                            Delete
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item ng-click="openUrl('https://github.com/jmcpeak/family/issues/new')">
                        <md-button>
                            <md-icon md-menu-align-target md-svg-src="action:bug_report"></md-icon>
                            Log a bug
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-click="openUrl('https://github.com/jmcpeak/family')">
                        <md-button>
                            <md-icon md-menu-align-target md-svg-src="image:edit"></md-icon>
                            View code
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>