jm-user {
    font-size: 1.4em;
}

md-toast.error {
  background-color: red;
  color: white;
}

.jm-top-right {
  top: 20px;
  right: 20px;
  bottom: auto;
  left: auto;
  position: absolute;
}

.jm-bottom-right {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: absolute;
}
