<div flex ng-show="showMainPage && !queryAllInProgress">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <em style="font-size: medium">
                Last Update: {{lastUpdate | date : 'fullDate' }} with {{getCount(users)}} family members
            </em>
            <span flex></span>

            <div>
                <md-button ng-click="toggleSearch('search')" class="md-icon-button" aria-label="Menu">
                    <md-icon class="jmMenuIcon" md-svg-src="action:search"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Add" ng-click="add($event)">
                    <md-icon class="jmMenuIcon" md-svg-src="social:person_add"></md-icon>
                </md-button>
                <md-menu md-position-mode="target-right target">
                    <md-button ng-click="openMenu($mdOpenMenu, $event)" class="md-icon-button" aria-label="Menu">
                        <md-icon class="jmMenuIcon" md-svg-src="navigation:menu"></md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item ng-click="email()">
                            <md-button>
                                <md-icon md-svg-src="communication:email"></md-icon>
                                E-mail
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-click="deleteItem()" ng-disabled="isRemoveDisabled()">
                            <md-button>
                                <md-icon md-svg-src="action:delete"></md-icon>
                                Delete
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-click="export()">
                            <md-button>
                                <md-icon md-svg-src="content:archive"></md-icon>
                                Export
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-click="about()">
                            <md-button>
                                <md-icon md-svg-src="action:description"></md-icon>
                                About
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <md-sidenav class="md-sidenav-right" md-component-id="search">
                <div layout="row" layout-align="start center" layout-fill>
                    <md-button class="md-icon-button" ng-click="toggleSearch()" aria-label="Close Search">
                        <md-icon md-svg-src="navigation:chevron_right"
                                 style="color: black; width: 48px; height: 48px;"></md-icon>
                    </md-button>
                    <input md-sidenav-focus id="searchBox" type="search" placeholder="Search" ng-model="search"
                           size="20">
                    <md-button style="left: -46px" class="md-icon-button" aria-label="Menu" ng-click="clear()">
                        <md-icon md-svg-src="content:clear" style="color: black"></md-icon>
                    </md-button>
                </div>
            </md-sidenav>
        </div>
    </md-toolbar>
    <md-content hide-sm flex layout="column" ng-show="showMainPage && !queryAllInProgress"
                ng-style="{'opacity': selectedUser ? '1' : '.3', 'pointer-events': selectedUser ? 'auto' : 'none'}">
        <div flex layout="column" layout-fill>
            <md-card class="md-whiteframe-z1">
                <md-button class="md-accent md-raised jmSaveButton" ng-click="putItem(selectedUser)">
                    Save
                </md-button>
                <jm-tabs></jm-tabs>
            </md-card>
        </div>
    </md-content>
</div>
