<md-tabs md-selected="selectedTab" md-dynamic-height md-stretch-tabs="always">
    <md-tab label="{{tab.name}}" ng-repeat="tab in ::tabs">
        <md-tab-body>
            <ng-form novalidate name="{{'userForm' + $index}}">
                <jm-required user="selectedUser" form="userForm0" ng-if="tab.position === 0"></jm-required>
                <jm-address user="selectedUser" ng-if="tab.position === 1"></jm-address>
                <jm-spouse user="selectedUser" ng-if="tab.position === 2"></jm-spouse>
                <jm-dates-and-places user="selectedUser" ng-if="tab.position === 3"></jm-dates-and-places>
                <jm-children user="selectedUser" ng-if="tab.position === 4"></jm-children>
            </ng-form>
        </md-tab-body>
    </md-tab>
</md-tabs>
