<div jm-header></div>

<!--<md-content class="md-padding">-->
<!--<section>-->
<!--<md-subheader class="md-primary">-->
<!--Last Updated: {{lastUpdate | date:'fullDate'}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>{{count}}</b> family members in-->
<!--database-->
<!--</md-subheader>-->
<!--</section>-->

<!--<section>-->

<!--<md-card>-->
<!--<img src="//material.angularjs.org/img/washedout.png" class="md-card-image">-->

<!--<h2>Paracosm</h2>-->

<!--<p>-->
<!--The titles of Washed Out's breakthrough song and the first single from Paracosm share the * two most-->
<!--important words in Ernest Greene's musical language: feel it. It's a simple request, as well...-->
<!--</p>-->
<!--</md-card>-->

<!--</section>-->

<!--<section>-->

<!--<md-card>-->
<!--<img src="//material.angularjs.org/img/washedout.png" class="md-card-image">-->

<!--<h2>Paracosm</h2>-->

<!--<p>-->
<!--The titles of Washed Out's breakthrough song and the first single from Paracosm share the * two most-->
<!--important words in Ernest Greene's musical language: feel it. It's a simple request, as well...-->
<!--</p>-->
<!--</md-card>-->

<!--</section>-->

<!--</md-content>-->


<!--<md-content style="height: 600px;">-->
<!--<section>-->
<!--<div class="myGrid"-->
<!--ui-grid="gridOptions"-->
<!--ui-grid-move-columns-->
<!--ui-grid-resize-columns-->
<!--ui-grid-edit-->
<!--ui-grid-auto-resize>-->
<!--</div>-->
<!--</section>-->
<!--</md-content>-->

<md-content class="md-padding">
    <md-list>
        <md-item ng-repeat="item in todos">
            <md-item-content>
                <div class="md-tile-left">
                    <img ng-src="{{item.face}}" alt="{{item.who}}" class="face">
                </div>
                <div class="md-tile-content">
                    <h3>{{item.who}}</h3>
                    <h4>{{item.where}}</h4>
                    <h4>{{item.notes}}</h4>
                </div>
            </md-item-content>
            <md-divider inset></md-divider>
        </md-item>
    </md-list>
</md-content>

<!--<md-content class="md-padding">-->
    <!--<md-grid-list md-cols="2" md-gutter="1em" md-row-height="4:3">-->
        <!--<md-grid-tile ng-repeat="item in todos">-->
            <!--<md-item>-->
                <!--<md-item-content>-->
                    <!--<div class="md-tile-left">-->
                        <!--<img ng-src="{{item.face}}" alt="{{item.who}}" class="face">-->
                    <!--</div>-->
                    <!--<div class="md-tile-content">-->
                        <!--<h3>{{item.who}}</h3>-->
                        <!--<h4>{{item.where}}</h4>-->
                        <!--<h4>{{item.notes}}</h4>-->
                    <!--</div>-->
                <!--</md-item-content>-->
                <!--<md-divider inset></md-divider>-->
            <!--</md-item>-->
        <!--</md-grid-tile>-->
    <!--</md-grid-list>-->
<!--</md-content>-->
